# Compiled Object files
*.slo
*.lo
*.o
*.exe

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Python files
*.pyc
zombie/zombie-v2/__pycache__/

# Vim temporary files
*.swp

build-cli/
.DS_Store
